* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
}

.digital-clock {
    position: relative;
    color: #fff;
    background: #242424;
    padding: 20px 75px;
    width: 425px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour,
.dots,
.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
    color: #fff;
}

.hour,
.minutes {
    font-size: 6.5rem;
    width: 125px;
}

.dots {
    font-size: 5rem;
    color: #929292;
}

.right-side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.period,
.seconds {
    font-size: 1.2rem;
    font-weight: 500;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 5px;
    gap: 5px;
}